/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
storage/*.key
/public/storage
/public/hot
/public/build
/bootstrap/cache/
/storage/framework/views/
/storage/framework/cache/
/storage/framework/sessions/
/storage/logs/
database/*.sqlite
database/*.sqlite-journal
.idea
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
